.contenedor-principal{
    width: 60%;
    margin: 0 auto;
    .btn-vaciar-carrito{
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        border: 1px;
        border-radius: 3px;
        box-shadow: 1px 2px 8px 1px lightgray;
        margin-left: 50rem;
        margin-top: 3rem;
    }
    .container-carrito-vacio{
        margin-top: 15rem;
        p{
            margin: 3rem;
            font-size: 2rem;
            text-align: center;
        }
        .link-iniciar-compra{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            background-color: lightpink;
            width: 30%;
            margin: 0 auto;
            border-radius: 5px;
            padding: 1rem;
    
        }
        .carrito{
            width: 100%;
            font-size: 3rem;
            margin-top: 2rem;
        }
    
    }
    .contenedor-carrito-lleno{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        img{
            width: 20%;
            margin: 1rem;
        }
        .contenido-descriptivo{
            padding: 1rem;
            text-align: center;
            h5, p{
                font-size: 1.2rem;
            }
        }
        .carrito-lleno{
            margin: 1rem;
            padding: 1.5rem;
            border-radius: 5px;
            background-color: bisque;
        }
    }
    .btn-remover{
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        padding: .4rem;
        border: 1px;
        border-radius: 3px;
        box-shadow: 1px 2px 8px 1px lightgray;
        background-color: lightpink;
        margin: 8rem 0;
    }
    .cart-total{
        font-weight: bold;
        font-size: 1.3rem;
    }
    .total-reserva{
        font-size: 1.7rem;
        margin: 0 auto;
        background-color: lightgray;
        width: 36%;
    }
}
