.not-found-page{
    width: 50%;
}
.volver-al-inicio{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    background-color: lightpink;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1rem;
}