$fuente: 'Poppins', sans-serif;

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
/* NAV BAR PRINCIPAL */
.ContenedorLista{
    background-color: #3AC9B9;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    a{
        img{
            width: 15%;
        }
    }
    .Lista{
        display: flex;
        list-style-type: none;
        color: black;


        .Items{
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin: 0 1rem;
        }
        a{
            display: flex;
            align-items: center;
            margin: auto .5rem;
            vertical-align: middle;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            letter-spacing: 3px;
        }
    }
    .Lista:hover{
        color: red;
    }

    svg{
        color: white;
        width: 25px;
        height: 25px;
    }
    
}

.container{
    text-align: center;
    font-weight: 300;
    margin-top: 2rem;
}