$fuente: 'Poppins', sans-serif;
$colorPrincipal: rgb(125, 204, 178);
$colorNav: #3AC9B9;


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
h2{
    font-weight: 300;
    text-align: center;
}
.item-count{
    .botonesContador{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        align-items: center;

        .btn-contador{
            color:white;
            background-color: $colorPrincipal;
            border-radius: 5px;
            border-style: none;
            padding: .5rem;
            margin: 0 1rem;
            font-size: 1.5rem;
        }
        .btn-contador:disabled {
            background-color:$colorPrincipal;
        }
    }
    .botones{
        margin: 1rem;
        .btn-volver-contador{
            
            background-color: lightgray;
            border-color: lightgray;
        }
        .btn-add-contador, .btn-volver-contador, .btn-add-terminar{
            padding: .8rem;
            margin: 1rem;
            border-radius: 5px;
            font-size: 1.2rem;
        }
        .btn-add-contador{
            background-color: $colorPrincipal;
        }
        .btn-add-terminar{
            background-color: $colorNav;
            font-weight: bold;
        }
        .btn-add-contador, .btn-add-terminar{
            color:white;
            border-radius: 5px;
            border-style: none;
            padding: 1rem;
        }
        
    }
}