$fuente: 'Poppins', sans-serif;
$colorPrincipal: rgb(103, 204, 170);

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    
    .container1{
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .card{
            margin: 1rem;
            border: 1px solid lightgray;
            background-color: rgb(245, 245, 245);
            .card_title{
                font-size: 1.2rem;
            }
            .card_title, .card_text{
                margin: 1rem;
            }
            .card_text{
                font-weight: 300;
                font-size: 1.2rem;
            }
            .item-count{
                margin: 0 auto;
                padding: .3rem;
                display: flex;
                justify-content: center;
                text-decoration: none;
                text-transform: none;
                background-color: transparent;
    
                h3{
                    font-size: 1.5rem;
                    padding: .5rem;
                    font-weight: 300;
                    margin: 1rem 0;
                }
                button{
                    margin: .2rem;
                    padding: 1rem;
                    border-radius: 3px;
                    background-color: $colorPrincipal;
                    border-color: $colorPrincipal;
                    color: white;
                    font-size: 1.3rem;
                    
                }
            }
            
            .btn-add-carrito{
                font-size: 1rem;
                font-weight: 300;
                padding: .5rem 3rem;
                background-color: white;
                border-color: white;
                box-shadow: 0 0 4px 1px lightgray;
            }
            
        }
        
    }
}
@media only screen and (max-width:600px) {
    .contenedor-productos{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
        margin-top:.5rem;
        padding:1rem;
    }
}